<div class="campaign-window"> 
  <div class="title">
    <%= campaign.target_name %>: <%= campaign.action %>
  </div>
  <div class="date-range">
    <%= campaign.start_date %> - <%= campaign.end_date %>
  </div>
  <div class="calls-number">
    Calls: <%=campaign.calls.length %>
  </div>
</div>