<div id="sign-in-modal" class="reveal-modal medium">  
  <% if params["action"] == "show" %>
    <h2>A quickie before the call...<br />Please sign in or <%= link_to "sign up", new_user_registration_path, :data => { :'reveal-id' => 'sign-up-modal' }%></h2>
  <% else %>
    <h2>Sign in or <%= link_to "Sign Up", new_user_registration_path, :data => { :'reveal-id' => 'sign-up-modal' }%></h2>
  <% end %>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to image_tag("facebook-connect.png"), omniauth_authorize_path(resource_name, provider) %>
    <% end -%>
    <h4>- OR -</h4>
  <% end -%>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %>
    <%= f.email_field :email, :autofocus => true , :id => "sign-in-email"%></div>

    <div><%= f.label :password %>
    <%= f.password_field :password, :id => "sign-in-password" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", :class => "button", :id => "sign-in-button" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
