<li class="campaign-tile"> 
  <div class="campaign-tile-container"> 
    <%= link_to campaign_path(campaign.id) do %>
      <%= image_tag(campaign.image.thumb.url) %>

      <div class="title">
        <%= campaign.target_name %>: <%= campaign.action %>
      </div>
      <div class="calls-number">
        Calls: <%=campaign.calls.length %>
      </div>
    <% end %>
  </div>
</li>