<div class="campaign-show-page row" data-campaignid=<%= @campaign.id %> >
  <p id="notice"><%= notice %></p>
  <div class="large-5 columns">
    <%= image_tag(@campaign.image.thumb.url) %>
    <div id="call-campaign-show"></div>
  </div>
  <div class="large-7 columns">
    <h2><%= @title %></h2>
    <h5><%= @campaign.organizer.email %></h5>
    <div class="description">
      <%= simple_format(@campaign.description) %>
    </div>
  </div>
</div>

