<!DOCTYPE html>
<html>
<head>
  <title>Activist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
  <%= csrf_meta_tags %>
<body>
  <%= render :partial => 'layouts/top_nav' %>
  <section id ="content">
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>
  
  <%= javascript_include_tag "backbone" if @backbone %>
</body>

<%= render :partial => 'devise/sessions/new' %>
<%= render :partial => 'devise/registrations/new' %>
<%= render :partial => 'campaigns/next_steps' %>
</html>