<!DOCTYPE html>
<html>
<head>
  <title>Activist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
  <%= csrf_meta_tags %>
<body>
  <nav class="top-bar">
    <ul class="title-area">
    <!-- Title Area -->
      <li class="name">
        <h1><a href="#">Activist </a></h1>
      </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Browse</a></li>
        <li><%= link_to "My Campaigns", mycampaigns_path %></a></li>
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, :data => { :'reveal-id' => 'sign-in-modal' }%></li>
        <% end %>
      </ul>
    </section>
  </nav>
  <section id ="content">
    <%= yield %>
  </div>
  <%= javascript_include_tag "backbone" if @backbone %>
</body>

<%= render :partial => 'devise/sessions/new' %>
<%= render :partial => 'devise/registrations/new' %>
</html>